{% extends 'base.html' %} {% block title %} Perfil {% endblock title %} {%
    block content %}


  <!-- BEGIN: Main Menu -->
  <div
    class="
      main-menu
      menu-fixed menu-light menu-accordion menu-shadow
      expanded
    "
    data-scroll-to-active="true"
  >
    <!-- PERFIL -->
    <ul class="navigation navigation-main">
      <li class="navigation-header"><span>PERFIL</span></li>
      <li class="nav-item-general">
        <a href="{{url_for('general')}}">
          <i class="fa fa-cogs"></i>
          <span class="menu-title text-truncate">General</span>
        </a>
      </li>
      <li class="nav-item-password">
        <a href="{{url_for('password')}}">
          <i class="fa fa-key"></i>
          <span class="menu-title text-truncate">Cambio contraseña</span>
        </a>
      </li>
      <li class="nav-item-dardebaja">
        <button
            class="btn btn-danger"
            id="eliminar"
            data-bs-toggle="modal"
            data-bs-target="#dardebaja"
        >
          <i class="fa fa-hand-scissors-o"></i>
          <span class="menu-title text-truncate"  >Darse de baja</span>
        </button>
      </li>
      <script>
        (function eliminar() {
          $(function () {
            // abrir modal
            $("#dardebaja").appendTo("body");
            
          });
        })();
      </script>
            <!-- Modal eliminar -->
            <div
            class="modal fade"
            id="dardebaja"
            tabindex="-1"
            role="dialog"
            aria-labelledby="titulo_eliminar"
            aria-hidden="true"
            >
            <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 id="titulo_eliminar">Eliminar Cuenta</h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
                </div>
                <div class="modal-body">
                <form
                    action="#"
                    class="form_eliminar row g-3 needs-validation"
                    method="POST"
                    novalidate
                >
                    <input type="hidden" name="oculto" value="eliminar" />

                    <p class="text-center">
                        ¿Está seguro que desea eliminar la cuenta?
                        </p>
                    <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                    >
                        Cancelar
                    </button>
                    <button class="btn btn-primary" type="submit" name="si">
                        Eliminar usuario
                    </button>
                    </div>
                </form>
                </div>
            </div>
            </div>
            </div>
            <!-- Final modal eliminar -->

    </ul>
  </div>
  <div class="col col-12 col-md-9 mt-1 mt-md-0">
    <div class= "card">

        {% block content2 %} {% endblock content2 %}

      </div>
  </div>
  


  <!-- END: Main Menu -->
 <script src="/demo/vuexy-vuejs-admin-dashboard-template/demo-1/js/chunk-vendors.dee80ad3.js"></script>

 <script src="/demo/vuexy-vuejs-admin-dashboard-template/demo-1/js/app.6c62beca.js"></script>

 {% endblock content %}